<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="start" name="school" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" color="primary">
    <h1>Bienvenido {{username}}</h1>
  </ion-text>
  <ion-text class="ion-text-center" color="warning">
    <p>Tu aplicacion para tomar la asistencia del insituto Duoc UC</p>
  </ion-text>

  <div class="ion-text-center ion-padding-top">
    <ion-img src="/assets/icon/Meryy.png" color="danger" shape="round"></ion-img>
  </div>
</ion-content>


