<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="stacked" min="0"
            ><ion-icon class="ion-margin-end" name="person-sharp"></ion-icon
            >Tipo de cuenta</ion-label
          >
          <ion-select name="tipo" [(ngModel)] ="usuario.tipo">
            <ion-select-option value="Profesor">Profesor</ion-select-option>
            <ion-select-option value="Estudiante">Estudiante</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            ><ion-icon class="ion-margin-end" name="body-sharp"></ion-icon
            >Username:</ion-label
          >
          <ion-input name="username" type="text" [(ngModel)] ="usuario.username" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            ><ion-icon
              class="ion-margin-end"
              name="lock-closed-sharp"
            ></ion-icon
            >Password:</ion-label
          >
          <ion-input name="password" type="password" [(ngModel)] ="usuario.password"></ion-input>
        </ion-item>
        <ion-button
          class="ion-margin-top"
          (click)="onSubmit()"
          expand="block"
          shape="round"
        >
          Login
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
