<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <div *ngFor="let i of componentes">
          <ion-item [routerLink]="i.redirecTo" detail="true">
            <ion-icon slot="start" [name]="i.icon" color="warning"></ion-icon>
            {{ i.name }}
          </ion-item>
        </div>
        
          <ion-item button (click)="logout()">
            <ion-icon slot="start" name="log-out" color="warning" ></ion-icon>
            Log Out
          </ion-item>
    
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
