<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] ="formularioRegistro">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Username:</ion-label>
          <ion-input formControlName=username type="text"  name="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password:</ion-label>
          <ion-input formControlName=password type="password" name="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input formControlName=email type="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">PhoneNumber:</ion-label>
          <ion-input formControlName=telefono type="number" min="0" name="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tipo de cuenta</ion-label>
          <ion-select formControlName=tipo name="tipo">
            <ion-select-option value="Profesor">Profesor</ion-select-option>
            <ion-select-option value="Estudiante">Estudiante</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button
          class="ion-margin-top"
          (click)="crearUsuario()"
          expand="block"
          shape="round"
        >
          Submit
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
