<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Username:</ion-label>
          <ion-input name=username type="text" [(ngModel)] ="usuario.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password:</ion-label>
          <ion-input name=password type="password" [(ngModel)] ="usuario.password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input name=email type="email" [(ngModel)] ="usuario.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">PhoneNumber:</ion-label>
          <ion-input name=number type="number" min="0" [(ngModel)] ="usuario.phonenumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tipo de cuenta</ion-label>
          <ion-select name=tipo [(ngModel)] ="usuario.tipo">
            <ion-select-option value="Profesor">Profesor</ion-select-option>
            <ion-select-option value="Estudiante">Estudiante</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button
          class="ion-margin-top"
          (click)="onSubmit()"
          expand="block"
          shape="round"
        >
          Submit
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
