<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Username:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">PhoneNumber:</ion-label>
        <ion-input type="number"  min="0"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tipo de cuenta</ion-label>
        <ion-select>
          <ion-select-option value="Profesor">Profesor</ion-select-option>
          <ion-select-option value="Estudiante">Estudiante</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button
        class="ion-margin-top"
        (click)="onClick()"
        expand="block"
        shape="round"
      >
        Submit
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
