<ion-header>
  <ion-toolbar>
    <ion-button (click)="openMenu()">
      <ion-icon name="school"></ion-icon>
    </ion-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" color="primary">
    <h1>Bienvenido a Shusseki</h1>
    
  </ion-text>
  <ion-text class="ion-text-center"  color="warning">
    <p>Tu aplicacion para tomar asistencia del insituto Duoc UC</p>
  </ion-text>
 
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button  routerLink="/login" expand="block" color="primary">Log in</ion-button>
  <ion-button  routerLink="/register" expand="block" color="danger">Sing-up</ion-button>
  </ion-toolbar>
</ion-footer>
  

