<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="start" name="school" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" color="primary">
    <h1>Bienvenido a Shusseki</h1>
    
  </ion-text>
  <ion-text class="ion-text-center"  color="warning">
    <p>Tu aplicacion para tomar la asistencia del insituto Duoc UC</p>
  </ion-text>
 
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button  routerLink="/login" expand="block" color="primary"><ion-icon class="ion-margin-end" name="log-in-outline"></ion-icon>Log in</ion-button>
  <ion-button  routerLink="/register" expand="block" color="warning"><ion-icon class="ion-margin-end" name="person-add-outline"></ion-icon>Sing-up</ion-button>
  </ion-toolbar>
</ion-footer>
  

