<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>AboutUs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/icon/Curso 1.png"></ion-img>
      <ion-card-title>¿Cansado de ser el ultimo en la lista?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        <p>
          Esta app logra tomar la asistencia mediante un Codigo QR de manera rapida y eficiente
          sin necesidad de que el profesor este nombrando a sus alumnos uno por uno
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/icon/Curso2.png"></ion-img>
      <ion-card-title>¿Como Funciona?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          Esta app permite tomar la asistencia mediante un codigo QR que genera
          el profesor y el alumno con la misma app puede escanear el codigo QR del curso correspondiente
          logrando asi quedar presente en la clase
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
