<ion-header>
  <ion-toolbar>
    <ion-title>Cursos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink="/estudiantes" class="ion-activated">
    <ion-img src="assets/icon/Curso 1.png"></ion-img>
    <ion-card-content>
      <ion-text>Curso 1</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/estudiantes" class="ion-activated">
    <ion-img src="assets/icon/Curso2.png"></ion-img>
    <ion-card-content>
      <ion-text>Curso 2</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/estudiantes" class="ion-activated">
    <ion-img src="assets/icon/Curso 1.png"></ion-img>
    <ion-card-content>
      <ion-text>Curso 3</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
